<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="common/header :: common-header" />
<header th:replace="common/header :: navbar"></header>


<head>
    <meta charset="ISO-8859-1"/>
    <title>Insert title here</title>

    <style>
        .username.ng-valid {
            background-color: lightgreen;
        }
        .username.ng-dirty.ng-invalid-required {
            background-color: red;
        }
        .username.ng-dirty.ng-invalid-minlength {
            background-color: yellow;
        }

        .email.ng-valid {
            background-color: lightgreen;
        }
        .email.ng-dirty.ng-invalid-required {
            background-color: red;
        }
        .email.ng-dirty.ng-invalid-email {
            background-color: yellow;
        }

    </style>
</head>

<body ng-app="myApp" class="ng-cloak">

<br/>
<br/>
<br/>
<div class="container" ng-controller="UserController as ctrl">

    <h3>Add Bank Account Form</h3>


    <form ng-submit="ctrl.submit()" name="myForm" method="post">

        <div class="form-row">

            <div class="form-group col-md-6 disabled">
                <label class="col-sm-2 col-form-label col-form-label-sm">Bank Id</label>

                <input ng-model="ctrl.user.id" class="form-control form-control-sm" readonly="true"/>
            </div>

            <div class="form-group col-md-6">
                <label class="col-sm-2 col-form-label col-form-label-sm">Bank</label>
                <input	ng-model="ctrl.user.nameBank" placeholder="Bank Name" name="myName" id="uname" class="form-control form-control-sm" ng-pattern="/^[a-zA-Z\s]*$/" type="text"  required="required" ng-minlength="3"/>
                <div class="has-error" ng-show="myForm.$dirty">
                    <span ng-show="myForm.myName.$invalid" class="font-italic text-danger">The name is required.</span>
                    <span ng-show="myForm.uname.$error.required">This is a required field</span>
                    <span ng-show="myForm.uname.$error.minlength">Minimum length required is 3</span>
                    <span ng-show="myForm.uname.$invalid">This field is invalid </span>
                </div>

            </div>

            <div class="form-group col-md-6" >
                <label 	class="col-sm-2 col-form-label col-form-label-sm">Account</label>
                <input ng-model="ctrl.user.accountNumber" placeholder="Bank Account Number" class="form-control form-control-sm" ng-pattern="/^[0-9]*$/" type="number" ng-minlength="5" ng-maxlength="10" required="required"/>
            </div>

            <div class="form-group col-md-6">
                <label 	class="col-sm-3 col-form-label col-form-label-sm">Date  Aperture</label>
                <input ng-model="ctrl.user.createAt"  name="createAt" class="form-control form-control-sm" type="date"/>
            </div>

            <div class="form-group col-md-6" >
                <label 	class="col-sm-3 col-form-label col-form-label-sm">Contact Email</label>
                <input ng-model="ctrl.user.email" placeholder="Contact Email" name="email" class="form-control form-control-sm" type="email"/>
            </div>

            <div class="form-group col-md-6">
                <label 	class="col-sm-3 col-form-label col-form-label-sm">Initial Balance</label>
                <input ng-model="ctrl.user.balance" placeholder="$ 0000.00" class="form-control form-control-sm" type="number" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.01" required=""/>
            </div>

            <div class="form-group col-md-6">
                <label 	class="col-sm-3 col-form-label col-form-label-sm">Phone</label>
                <input ng-model="ctrl.user.phone" placeholder="00-000-000"  class="form-control form-control-sm" type="text" required=""/>

            </div>

           <div class="form-group col-md-6">
                <label for="inputAddress" class="col-sm-2 col-form-label col-form-label-sm">Address</label>
                <input type="text" class="form-control form-control-sm" id="inputAddress" placeholder="1234 Main St"/>
           </div>



            <div class="form-group col-md-6">
                <label for="inputCity"  class="col-sm-3 col-form-label col-form-label-sm">City</label>
                <input type="text" class="form-control form-control-sm" id="inputCity"/>
            </div>

            <div class="form-group col-md-4">
                <label for="inputState"  class="col-sm-2 col-form-label col-form-label-sm">State</label>
                <select	id="inputState" class="form-control">
                    <option selected="">Choose...</option>
                    <option>NL</option>
                    <option>DF</option>
                    <option>CHI</option>
                    <option>SP</option>
                </select>
            </div>

            <div class="form-group col-md-2">
                <label for="inputZip">Zip</label> <input type="text" class="form-control" id="inputZip"/>
            </div>

        <div class="form-group">
            <div class="col-auto my-1">
                <div class="custom-control custom-checkbox mr-sm-2">
                    <input type="checkbox" class="custom-control-input" id="customControlAutosizing" />
                    <label class="custom-control-label" for="customControlAutosizing">Remember my preference</label>
                </div>
            </div>
        </div>


            <div class="form-actions floatRight">
                <input type="submit"  value="{{!ctrl.user.id ? 'Add' : 'Update'}}" class="btn btn-primary btn-sm" />
                <button type="button" ng-click="ctrl.reset()" class="btn btn-warning btn-sm" ng-disabled="myForm.$pristine">Reset Form</button>
            </div>
        </div>
    </form>

<hr class="bg-primary"/>

<div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading"><span class="lead">List of Accounts </span></div>
    <div class="tablecontainer">
        <table class="table table-hover table-secondary">
            <thead>
            <tr class="bg-primary text text-white">
                <th>ID.</th>
                <th>Name</th>
                <th>Account Number</th>
                <th>Initial Date</th>
                <th>Contact email</th>
                <th>Conatact phone</th>
                <th>Balance</th>
                <th width="20%"></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="u in ctrl.users">
                <td><span ng-bind="u.id"></span></td>
                <td><span ng-bind="u.nameBank"></span></td>
                <td><span ng-bind="u.accountNumber"></span></td>
                <td><span ng-bind="u.createAt | date: yyyy-MM-dd"></span></td>
                <td><span ng-bind="u.email"></span></td>
                <td><span ng-bind="u.phone"></span></td>
                <td><span ng-bind="u.balance"></span></td>
                <td>
                    <button type="button" ng-click="ctrl.edit(u.id)" class="btn btn-success custom-width">Edit</button>  <button type="button" ng-click="ctrl.remove(u.id)" class="btn btn-danger custom-width">Remove</button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

</div>


<div th:replace="common/header :: body-bottom-scripts"/>
</body>
</html>